<nav class="navbar navbar-default" role="navigation" ng-controller="NavBarController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/main">{{name}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/weeks">Weeks</a></li>

                <!-- Team drop down -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Teams<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="team in teams | filter:{visualize: true}">
                            <a href="#/team/{{team.id}}">{{ team.name }}</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>