<table style="border: 1px solid;">
    <tr>
        <th>Date</th>
        <th>Incoming Average</th>
        <th ng-repeat="label in league.gameLabels">{{label}}</th>
        <th>Series Average</th>
        <th>Difference</th>
    </tr>
    <tr ng-repeat="series in roller.serieses">
        <td style="padding: 4px;">{{series.week.date}}</td>
        <td style="padding: 4px;">{{series.playerAverage}}</td>
        <td style="padding: 4px;" ng-repeat="label in league.gameLabels">{{series.games[$index].score}}</td>
        <td style="padding: 4px;" >{{series.seriesAverage}}</td>
        <td style="padding: 4px;">{{series.seriesAverage - series.playerAverage}}</td>
    </tr>
</table>