<h1>Weeks</h1>

<p>League: {{ league.name }}</p>

<ul>
    <li ng-repeat="team in league.teams | filter:{visualize: true}">
        {{ team.name }}
        <ul>
            <li ng-repeat="roller in team.players">
                {{ roller.name }}
            </li>
        </ul>
    </li>
</ul>

<ul>
    <li ng-repeat="week in league.weeks">
        Week {{ week.weekNumber }}: {{ week.date }}
        <ul>
            <li ng-repeat="match in week.matches">
                <a href="#/matches/{{match.id}}">{{ match.teams[0].name }} vs. {{ match.teams[1].name }}</a>
            </li>
        </ul>
    </li>
</ul>