<!-- for each game -->
<div style="display: block; clear: both">

    <div style="float: left">
        <div>&nbsp;</div>

        <!-- for each player -->
        <div ng-repeat="individualGame in game" style="height: 50px;">{{individualGame.roller.name}}</div>
    </div>

    <!-- for each frame -->
    <div ng-repeat="frame in [0, 1, 2, 3, 4, 5, 6, 7, 8]" style="float: left; border: 1px solid">
        <div style="border-bottom: 1px solid"><b>{{frame+1}}</b></div>
        <!-- for each player -->
        <div ng-repeat="individualGame in game" style="height: 50px; width: 40px; border-top: 1px solid">
            <!-- First box -->
            <div style="float: left; width: 20px; text-align: center" ng-if="individualGame.frames[frame][0] == 10">&nbsp;</div>
            <div style="float: left; width: 20px; text-align: center" ng-if="individualGame.frames[frame][0] != 10">{{individualGame.frames[frame][0]}}</div>

            <!-- Second Box-->
            <div style="float: left; width: 20px; border-left: 1px solid; border-bottom: 1px solid; text-align: center" ng-if="individualGame.frames[frame][0] + individualGame.frames[frame][1] != 10">{{individualGame.frames[frame][1]}}</div>
            <div style="float: left; width: 20px; border-left: 1px solid; border-bottom: 1px solid; text-align: center" ng-if="individualGame.frames[frame][0] == 10">X</div>
            <div style="float: left; width: 20px; border-left: 1px solid; border-bottom: 1px solid; text-align: center" ng-if="individualGame.frames[frame][0] != 10 && individualGame.frames[frame][0] + individualGame.frames[frame][1] == 10">/</div>

            <div style="clear: both; text-align: center">{{individualGame.frameScore[frame]}}</div>
        </div>
    </div>
    <!-- for each frame -->
    <div ng-repeat="frame in [9]" style="float: left; border: 1px solid">
        <div style="border-bottom: 1px solid"><b>{{frame+1}}</b></div>
        <!-- for each player -->
        <div ng-repeat="individualGame in game" style="height: 50px; width: 60px; border-top: 1px solid">

            <!-- First box -->
            <div style="float: left; width: 20px; text-align: center" ng-if="individualGame.frames[frame][0] == 10">X</div>
            <div style="float: left; width: 20px; text-align: center" ng-if="individualGame.frames[frame][0] != 10">{{individualGame.frames[frame][0]}}</div>

            <!-- Second Box-->
            <div style="float: left; width: 20px; border-left: 1px solid; border-bottom: 1px solid; text-align: center" ng-if="individualGame.frames[frame][0] != 10 && individualGame.frames[frame][0] + individualGame.frames[frame][1] != 10">{{individualGame.frames[frame][1]}}</div>
            <div style="float: left; width: 20px; border-left: 1px solid; border-bottom: 1px solid; text-align: center" ng-if="individualGame.frames[frame][1] == 10">X</div>
            <div style="float: left; width: 20px; border-left: 1px solid; border-bottom: 1px solid; text-align: center" ng-if="individualGame.frames[frame][0] != 10 && individualGame.frames[frame][0] + individualGame.frames[frame][1] == 10">/</div>
            <div style="float: left; width: 20px; border-left: 1px solid; border-bottom: 1px solid; text-align: center" ng-if="individualGame.frames[frame][0] == 10 && individualGame.frames[frame][1] != 10">{{individualGame.frames[frame][1]}}</div>

            <!-- Third Box-->
            <div style="float: left; width: 20px; border-left: 1px solid; border-bottom: 1px solid; text-align: center" ng-if="individualGame.frames[frame][1] != 10 && individualGame.frames[frame][2] != null && individualGame.frames[frame][1] + individualGame.frames[frame][2] != 10">{{individualGame.frames[frame][2]}}</div>
            <div style="float: left; width: 20px; border-left: 1px solid; border-bottom: 1px solid; text-align: center" ng-if="individualGame.frames[frame][2] == 10">X</div>
            <div style="float: left; width: 20px; border-left: 1px solid; border-bottom: 1px solid; text-align: center" ng-if="individualGame.frames[frame][1] != 10 && individualGame.frames[frame][1] + individualGame.frames[frame][2] == 10">/</div>
            <div style="float: left; width: 20px; border-left: 1px solid; border-bottom: 1px solid; text-align: center" ng-if="individualGame.frames[frame][2] == null">&nbsp;</div>

            <div style="clear: both; text-align: center">{{individualGame.frameScore[frame]}}</div>
        </div>
    </div>
</div>