<div class="page-header">
    <h1>{{ playerMain.roller.name }} <small>{{ playerMain.team.name}}</small></h1>
</div>


<div class="row" ng-controller="PlayerMatchDataCtrl as matchList">
    <div ng-include="'player/partials/scoreDetails.html'" class="col-md-6"></div>

    <div id="mainGraph"  class="col-md-6" style="padding: 0">

        <div class="panel panel-default" ng-controller="PlayerMatchLineGraphCtrl as matchLines">
            <div class="panel-heading">
                <h3 class="panel-title">Weekly Stats</h3>
            </div>
            <div class="panel-body">
                <svg style="float: left"
                     linegraph
                     data="matchList.data"
                     lines="matchLines.lines"
                     width="75%" height="300"
                     xdomain="[0, playerMain.league.weekCount]"
                     ydomain="[0, 300]" margin="50">
                </svg>
                <div style="float: left"
                     legend
                     lines="matchLines.lines"
                     data="matchList.data"></div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Weekly Average Difference</h3>
            </div>
            <div class="panel-body">
                <svg differencegraph
                     data="matchList.data"
                     width="100%"
                     height="300"
                     margin="50"
                     minimumbarcount="{{playerMain.league.weekCount}}"></svg>
            </div>
        </div>

    </div>
</div>

<div class="page-header">
    <h2>Score Ranges</h2>
</div>

<div class="row" ng-controller="PlayerGameSeriesRangeCtrl as range">
    <svg numberrange data="range.gameScratch" width="100%"
         height="100" maxValue="300"
         axis="top" caption="Game Scratch Score Range"></svg>
    <svg numberrange data="range.seriesScratch" width="100%"
         height="100" maxValue="900"
         axis="bottom" caption="Series Scratch Score Range"></svg>
</div>

<div class="page-header" ng-controller="PlayerScoreSheetsCtrl as scoresheet">
    <h2>Score Sheets</h2>
</div>

<div class="row" ng-controller="PlayerScoreSheetsCtrl as scoresheet" >
    <div style="padding-bottom: 20px;" ng-repeat="match in scoresheet.matches"
         ng-init="label=match.label;game=match.games"
         ng-include="'common/partials/frame.html'">
    </div>
</div>

<div class="page-header">
    <h2>Handicap Series per Week</h2>
</div>
<div class="row">
    <div class="col-md-12" ng-controller="PlayerHandicapCtrl as handicap">
        <svg width="100%"
             height="300"
             horizbargraph
             maximumbarwidth="20"
             maximumrange="18"
             data="handicap.data"></svg>
    </div>
</div>

<div class="page-header">
    <h2>First Ball Analysis</h2>
</div>
<div class="row" ng-controller="PlayerFirstBallAnalysis as firstballanalysis">
    <div class="col-md-6">
        <ul>
            <li>Mean: {{ firstballanalysis.data.mean }}</li>
            <li>Median: {{ firstballanalysis.data.median }}</li>
            <li>Min: {{ firstballanalysis.data.min }}</li>
            <li>Max: {{ firstballanalysis.data.max }}</li>
            <li>1st: {{ firstballanalysis.data.firstQuartile}}</li>
            <li>3rd: {{ firstballanalysis.data.thirdQuartile}}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <svg boxgraph data="firstballanalysis.data" width="100%" height="100"></svg>
    </div>
</div>

<div class="page-header">
    <h2>Open Close Analysis</h2>
</div>
<div class="row" ng-controller="PlayerOpenCloseCtrl as openclose">
    <div class="col-md-6">
        <ul>
            <li>Strikes: {{ openclose.strikes }}</li>
            <li>Spares: {{ openclose.spares }}</li>
            <li>Open: {{ openclose.open }}</li>
            <li>Total Frames: {{ openclose.total }}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <svg width="100%" height="100" bargraph data="openclose.data"></svg>
    </div>
</div>

<div class="page-header">
    <h2>Split Analysis</h2>
</div>
<div class="row" ng-controller="PlayerSplitsCtrl as splits">
    <div class="col-md-6">
        <ul>
            <li>Splits: {{ splits.splits }}</li>
            <li>Converted: {{ splits.converted }}</li>
            <li>Open: {{ splits.open }}</li>
            <li>Total Frames: {{ splits.total }}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <svg width="100%" height="100" bargraph data="splits.data"></svg>
    </div>
</div>