<div class="page-header">
    <h1>{{ teamdetail.team.name }}</h1>
</div>

<ng-include src="'team/partials/playerList.html'" ng-controller="TeamMembersListCtrl as members"></ng-include>

<div class="page-header">
    <h2>Matches</h2>
</div>

<ng-include src="'team/partials/matchList.html'" ng-controller="TeamMatchListCtrl as matches"></ng-include>

<div class="page-header">
    <h2>Player Contribution</h2>
</div>
<div class="row">
    <div class="col-md-12" ng-controller="TeamTotalPinsCtrl as totalpins">
        <svg width="100%" bargraph data="totalpins.data"></svg>
    </div>
</div>

<div class="page-header">
    <h2>Team Handicap per Week</h2>
</div>
<div class="row">
    <div class="col-md-12" ng-controller="TeamHandicapCtrl as handicap">
        <svg width="100%" horizbargraph maximumbarwidth="20" height="200" maximumrange="18" data="handicap.data"></svg>
    </div>
</div>

<div class="page-header">
    <h2>Pins per Week</h2>
</div>
<div class="row">
    <div class="col-md-12" ng-controller="TeamPinsPerWeekCtrl as pinsperweek">
        <svg width="100%" horizbargraph maximumbarwidth="20" height="200" maximumrange="18" data="pinsperweek.data"></svg>
    </div>
</div>

<div class="page-header">
    <h2>Open Close Analysis</h2>
</div>
<div class="row" ng-controller="TeamOpenCloseCtrl as openclose">
    <div class="col-md-6">
        <ul>
            <li>Strikes: {{ openclose.strikes }}</li>
            <li>Spares: {{ openclose.spares }}</li>
            <li>Open: {{ openclose.open }}</li>
            <li>Total Frames: {{ openclose.total }}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <svg width="100%" height="100" bargraph data="openclose.data"></svg>
    </div>
</div>